:root {
    --menu-width: 100px;
    --menu-border-right-width: 2px;
}

.Menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    float: left;
    height: 100vh;
    width: 90px;
    background-color: rgba(0, 0, 0, 0.3);
}

.Menu > .MenuItem:last-child {
    margin-top: auto;
    margin-bottom: 105px;
}

.Logo {
    width: 59px;
    height: 69px;
    padding: 38px 0 85px 0;
}

.MenuItem {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90px;
    cursor: pointer;
}

.MenuItem:hover {
    background-color: rgba(42, 53, 95, 0.3);
}

.MenuItem figure {
    position: relative;
    text-align: center;
    margin: 0;
    color: black;
}

.MenuItem > a {
    text-decoration: none;
}

.Badge {
    position: absolute;
    left: calc(100% - 7px);
    bottom: calc(100% - 7px);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15px;
    height: 15px;
    border-radius: 50%;

    background-color: #FF5704;
    color: #FFFFFF;
    font-family: "BB Roller Mono Pro ST";
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 0.14px;
    line-height: 13px;
    text-align: center;
}

.IcoLabel {
    margin-top: 10px;
    opacity: 0.3;
    color: #FFFFFF;
    font-family: "Range Mono";
    font-size: 11px;
    letter-spacing: -0.55px;
    line-height: 13px;
    text-align: center;
}