:root {
    --caption-height: 80px;
    --caption-border-bottom-width: 1px;
}

.Settings {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 100%;
    overflow-y: auto;
}

.SettingsWrapper {
    height: 100vh;
    overflow-y: auto;
}

.OverflowScroll {
    overflow-y: scroll;
}

.OverflowHidden {
    overflow-y: hidden;
}

.Setting {
    background-color: lightgray;
    margin: 0 30px 18px 30px;
    padding: 0 48px 35px 73px;
}

.Settings h2 {
    color: #FFFFFF;
    font-family: Axiforma;
    font-size: 26px;
    font-weight: bold;
    letter-spacing: 0.75px;
    line-height: 43px;
}

.Caption {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 57px;
    margin-bottom: 95px;
}

.Caption > h1 {
    margin: 0;
    transform: translateY(-13px);
    color: #FFFFFF;
    font-family: Axiforma;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 66px;
    text-align: center;
}

.Caption > img {
    position: absolute;
    left: 27px;
}

h1 {
    text-align: center;
}

h2 {
    text-align: left;
    display: flex;
}

.RestoreWalletCheckbox {
    color: #FFFFFF;
    font-family: Axiforma;
    font-size: 12px;
    letter-spacing: 0.45px;
    line-height: 19px;
}

.Setting > p {
    color: #FFFFFF;
    font-family: "Range Mono";
    font-size: 14px;
    letter-spacing: 0.42px;
    line-height: 18px;
}

.Attention,
.WriteDown > h2 {
    position: relative;
    margin-bottom: 24px;
}

.Attention:before,
.WriteDown > h2:before {
    content: " ";
    position: absolute;
    left: -30px;
    top: -8px;
    bottom: 0;
    display: block;
    width: 15px;
    height: 15px;
    margin: auto 0;
    border-radius: 50%;
    background-color: #FF5704;
}

.PasswordInputs {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.ChangePasswordInput {
    margin-right: 40px;
}

.ChangePasswordInput > span {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 10px;
    color: #fff;
    font-family: Axiforma;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.4px;
    line-height: 23px;
}

.ChangePasswordInput > input {
    width: 100%;
    height: 45px;
    box-sizing: border-box;
    padding-left: 25px;
    border: none;
    outline: none;
    background-color: rgba(0, 0, 0, 0.2);
    color: #FFFFFF;
    font-family: "Range Mono";
    font-size: 26px;
    letter-spacing: 0.78px;
    line-height: 32px;
}

.ChangePasswordInput > input::placeholder {
    opacity: 0.3;
}

.PasswordInput {
    margin-right: 50px;
}

.PasswordInput > span {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 25px;
    color: #FFFFFF;
    font-family: Axiforma;
    font-size: 26px;
    font-weight: bold;
    letter-spacing: 0.75px;
    line-height: 43px;
}

.PasswordInput > input {
    height: 55px;
    padding-left: 25px;
    border: none;
    outline: none;
    background-color: rgba(0, 0, 0, 0.2);
    color: #FFFFFF;
    font-family: "Range Mono";
    font-size: 26px;
    letter-spacing: 0.78px;
    line-height: 32px;
}

.PasswordInput > input::placeholder {
    opacity: 0.3;
}

.PasswordLabel {
    align-self: flex-start;
    margin-top: 40px;
    color: #FFFFFF;
    font-family: "Range Mono";
    font-size: 12px;
    letter-spacing: 0.36px;
    line-height: 14px;
}

.PasswordButton {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 10px;
}

.RightBottomButton {
    position: absolute;
    right: 0;
    bottom: 0;
    display: block;
}

.ButtonWrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.Rows {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.06);
    box-shadow: 0 8px 10px 3px rgba(0, 0, 0, 0.2);
}

.Columns {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.06);
    box-shadow: 0 8px 10px 3px rgba(0, 0, 0, 0.2);
}

.Modal {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.ModalContent {
    position: relative;
    transform: translateX(45px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    opacity: 1;
    width: 80%;
    min-width: 600px;
    max-width: 1144px;
    height: 80%;
    min-height: 300px;
    max-height: 750px;
    margin: auto;
    padding: 42px 75px 30px 60px;
    box-sizing: border-box;
    color: white;
    box-shadow: 0 8px 10px 3px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.ModalContent:before {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(42, 53, 95, 0.3);
    backdrop-filter: blur(37px);
    z-index: -1;
}

.ModalContent h1 {
    color: #FFFFFF;
    font-family: Axiforma;
    font-size: 26px;
    font-weight: bold;
    letter-spacing: 0.75px;
    line-height: 43px;
    text-align: center;
}

.Button {
    position: relative;
    grid-row: 5;
    grid-column: 2;
    height: 60px;
    min-width: 235px;
    border: none;
    border-radius: 38px;
    background-color: #2A355F;
    box-shadow: 0 1px 4px 0 rgba(29, 50, 75, 0.56), inset 0 0 0 3px #ff5704;
    color: #FFFFFF;
    font-family: "Range Mono";
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    transition-duration: 0.3s;
    transition-property: background-color;
    cursor: pointer;
}

.Button:hover {
    background-color: #ff5704;
}

.Button > img {
    position: absolute;
    right: 14px;
    top: 0;
    bottom: 0;
    width: 23px;
    height: 15px;
    margin: auto 0;
}

.CheckboxContainer {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
    margin-top: 32px;
}

.CheckboxInput {
    position: absolute;
    left: 0;
    top: 0;
    height: 40px;
    width: 40px;
    margin: 0;
    opacity: 0;
    z-index: 1;
}

.Checkbox {
    height: 40px;
    width: 40px;
    margin-right: 16px;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: -1;
}
