.Main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #2A355F;
}

.Logo {
    height: 191px;
    width: 680px;
    margin-bottom: 70px;
}

.Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.StatusBar {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
}

.statusText {
    color: #FFFFFF;
    font-family: "Range Mono";
    font-size: 26px;
    letter-spacing: 0.78px;
    line-height: 32px;
    z-index: 1;
}

.statusBar {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 55px;
    width: 444px;
    margin-left: 13px;
    background-color: rgba(0, 0, 0, 0.2);
}

.statusBarProgress {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #FF5704;
    transition-duration: 0.5s;
    transition-property: transform;
    transform: scaleX(0);
    transform-origin: 0 0;
}