.RestoreWallet {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.Caption h1 {
    margin-top: 0;
    text-align: center;
}

.RecoveryPhrase {
    margin-bottom: 100px;
}